Library/
Logs/
Packages/
ProjectSettings/
UserSettings/
WebGL Builds/
.vscode/
webgl_sharing
*.sln
*.csproj
*.meta
connectwebgl.zip

*/Assets/*
!*/Assets/Scenes/
!*/Assets/Settings/
!*/Assets/Materials/
!*/Assets/*.asset
!*/Assets/*.cs